*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
nav{
    background-color: #14532d;
}

section{
    justify-content: center;
    padding: 50px 20px;
    color: aliceblue;
    height: 100vh;
    background-image: url(./images/drone.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}
body{
    scroll-behavior: smooth;
}

section{
    text-align: center;
}
.footer {
    font-size: 15px;
  }
  /* .footer h5 {
    margin-bottom: 15px;
  }
  .footer a:hover {
    color: #5cb85c;
  } */

  footer a:hover {
    text-decoration: underline;
    color: #d4f5d4;
  }

/* hero section */
  .text-animate{
    opacity: 0;
    transform: translateY(40px);
    animation: fadeslideup 2s ease forwards;
    animation-delay: 0.3s;
    /* animation-duration: 5s; */
  }
  
  @keyframes fadeslideup {
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }


/* services */
  .service-card{
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1.2s ease forwards;
    animation-duration: 10s;
  }

  .service-card:nth-child(1) {animation-delay: 0.2s;}
  .service-card:nth-child(2) { animation-delay: 0.4s;}
  .service-card:nth-child(3) {animation-delay: 0.6s;}

  @keyframes slideUp{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }


/* gallery*/
  img{
          transition: 0.5s ease;
  }

  img:hover{
          transform: scale(1.05);
  }


/* contact*/
.contact-section{
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1.2s ease forwards;
  animation-delay: 0.8s;
}

@keyframes slidUp {
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.footer-animate{
  opacity: 0;
  transform: translateY(30px);
  animation: footerFade 1.2s ease forwards;
  animation-delay: 1.2s;
  /* animation-duration: 10s; */
}

@keyframes footerFade {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* fonts style */

body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 600;
}
p {
  font-weight: 300;
}